{% extends 'layout.html' %}
{% load static %}

{% block title %}Login{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'resultado.css' %}">

<body>
    <section>

        <h1>Seu resultado</h1>

        <div class="slider-container">
            <input type="range" min="0" max="20" value="{{ pontuacao }}" class="slider" id="feelingRange" onchange="changeColor()"
                disabled="true">
            <div class="emojis">
                <span>😁</span>
                <span>🙂</span>
                <span>😐</span>
                <span>😢</span>
                <span>😫</span>
            </div>
        </div>


        <div class="resultConainer">
            <h3>Resultado</h3>

            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ducimus omnis nesciunt, maxime cumque
                accusantium dolore. Laudantium illo amet fugiat assumenda, nemo placeat iusto est earum exercitationem
                alias itaque eveniet neque doloremque, porro eaque ea officia saepe debitis! Autem dicta quam blanditiis
                numquam obcaecati? Nesciunt ipsa odio fugit? Beatae mollitia quae distinctio dolor delectus praesentium
                dolores et, veniam ex minus iure exercitationem maiores tempore similique, nobis labore, odio tenetur
                provident amet consequatur. Molestiae, sunt voluptatem numquam fuga soluta nulla quia. Ipsam magnam
                quia, deserunt recusandae enim dolorum! Ad autem quibusdam velit odio ducimus officia neque repellendus
                est ipsum, sed praesentium rem natus atque expedita, possimus inventore libero reiciendis eum, alias

        </div>

        <div class="containerBtns">
            <button onclick="redirectHome()">Voltar para página inicial</button>
            <button onclick="redirectDashboard()">Ir para Dashboard</button>
        </div>
    </section>

    <script>
        function redirectHome() {
            window.location.href = "{% url 'home' %}";
        }

        function redirectDashboard() {
            window.location.href = "{% url 'dashboard' %}";
        }
    </script>
    <script src="{% static 'resultado.js' %}" defer></script>
</body>
{% endblock %}