body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    height: 4rem;
    align-content: center;
    background-color: #14558B;
}

header a, 
header span {
    color: white !important;
}

main {
    flex: 1;
}

#navbarNav {
    display: flex;
    justify-content: space-between;
}

#dpdUsuario {
    color: white;
}

.alert-overlay {
    position: absolute;
    top: 5rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 9999;
}