{% extends 'layout.html' %}

{% block title %}Cadastrar-se{% endblock %}

{% block content %}

<h1>Cadastrar-se</h1>

<form action="{% url 'cadastro_usuario' %}" method="post"> {% csrf_token %}
    <input type="text" name="nome" placeholder="Nome" required>
    <input type="text" name="email" placeholder="Email" required>
    <input type="text" name="senha" placeholder="Senha" required>
    <input type="text" name="data_nascimento" placeholder="Data Nascimento" required>
    <input type="text" name="sexo" placeholder="Sexo" required>

    <input type="submit" value="Salvar">
</form>

{% endblock %}